<!-- .l-footer -->
<footer class="l-footer">
<ul class="l-footer__list">
  <li class="l-footer__item"><a href="#" class="l-footer__link">よくある質問</a></li>
  <li class="l-footer__item"><a href="#" class="l-footer__link">お問い合わせ</a></li>
  <li class="l-footer__item"><a href="#" class="l-footer__link l-footer__link--small">卸売のご案内</a></li>
  <li class="l-footer__item"><a href="#" class="l-footer__link l-footer__link--small">利用規約</a></li>
  <li class="l-footer__item"><a href="#" class="l-footer__link l-footer__link--small">プライバシーポリシー</a></li>
  <li class="l-footer__item"><a href="#" class="l-footer__link l-footer__link--small">特定商取引法に基づく表記</a></li>
</ul>
<div class="l-footer__container">
  <div class="l-footer__content">
    <p class="l-footer__heading">Official Account</p>
    <a href="#" class="l-footer__sns"><img src="assets/images/icn_menu_02.svg" alt="Twitter"></a>
    <a href="#" class="l-footer__sns"><img src="assets/images/icn_menu_03.svg" alt="Instagram"></a>
  </div>
  <div class="l-footer__box">
    <a href="#" class="l-footer__logo"><img src="assets/images/logo.png" alt="ロゴ"></a>
    <p class="l-footer__copyright">&copy;2022 LYRA ENVY</p>
  </div>
</div>
</footer>
</div><!-- l-wrap -->

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>

  $('.p-slider__list').slick({
		arrows: false,
		autoplay: true,
		autoplaySpeed: 0,
		speed: 20000,
		infinite: true,
		pauseOnHover: false,
		pauseOnFocus: false,
		cssEase: 'linear',
		slidesToShow: 3,
		slidesToScroll: 1,
    variableWidth: true,
  });
		responsive: [
			{
			breakpoint: 769,
			settings: {
				slidesToShow: 2
			}
		}

	]

</script>

</body>
</html>