.c-menuBtn {
  display: none;
}

// SP表示　1060px以下
@media screen and (max-width: 1060px) {
  .c-menuBtn {
    display: flex;
    position: relative;
    width: 36px;
    height: 36px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__bar {
      display: block;
      margin: 2px 0;
      width: 24px;
      height: 2px;
      border-radius: 1px;
      background-color: #ffffff;
    }
  }
}
