.l-header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 30px 0 40px;
  background-color: #d5a499;
  z-index: 99;

  &__logo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 230px;
    height: 55px;
    margin: auto;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__login {
    margin-right: 25px;
    padding: 5px 0;
  }

  &__cart {
    position: relative;
  }

  &__cart img {
    width: 20px;
    margin-right: 2px;
  }

  &__link {
    display: inline-block;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
    font-size: 15px;
    font-size: 1.5rem;
  }

  &__link--cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    color: #000000;
  }

  &__count {
    display: flex;
    position: absolute;
    top: -5px;
    right: -8px;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    padding: 5px 7px;
    border-radius: 12px;
    background-color: #a34c6b;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
  }
}

// 992px以下
@media screen and (max-width: 992px) {
  .l-header {
    height: 80px;
    padding: 0 20px;

    &__login {
      display: none;
    }

    &__logo {
      display: flex;
      align-items: center;
      object-fit: cover;
    }
  }
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .l-header {
    height: 52px;
    padding: 0 10px;

    &__login {
      display: none;
    }

    &__logo {
      display: flex;
      align-items: center;
      object-fit: cover;
      width: 160px;
    }

    &__link {
      width: 36px;
      height: 36px;
    }

    &__count {
      min-width: 16px;
      min-height: 16px;
      top: -5px;
      right: -8px;
      font-size: 10px;
    }

    &__cart img {
      width: 17.5px;
    }
  }
}
