.l-main {
  padding-top: 100px;
}

// SP表示　992px以下
@media screen and (max-width: 992px) {
  .l-main {
    padding-top: 80px;
  }
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .l-main {
    position: relative;
    overflow: hidden;
    padding-top: 52px;
  }
}
