.p-banner {
  display: none;
  position: fixed;
  z-index: 80;
  right: 30px;
  bottom: 20px;
  width: 200px;
  height: auto;
  transition: transform 1s;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__close {
    position: absolute;
    right: -10px;
    top: -13px;
    z-index: 1;
    width: 24px;
  }
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .p-banner {
    right: 20px;
    bottom: 7px;
    width: 130px;

    &__close {
      width: 20px;
    }
  }
}

// JS
.p-banner.is-active {
  display: none;
}
