.p-hero {
  &__inner {
    position: relative;
    z-index: 3;
    padding: 0 0 50px;
    color: #fff;
  }

  &__container {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 680px;
  }

  &__text {
    position: absolute;
    left: 50px;
    bottom: 140px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    transform-origin: left bottom;
    transform: rotate(90deg);
  }

  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 1.5;
    transform: rotate(90deg);
  }

  &__br {
    display: block;
  }

  &__logo {
    position: absolute;
    text-align: center;
    width: 400px;
    height: 140px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &__description {
    margin: 15px auto 0;
  }

  &__scroll {
    position: absolute;
    bottom: -50px;
    right: 80px;
    z-index: 9;
    width: 170px;
    height: 170px;
    animation: rotation 30s linear infinite;
  }
}

// SP表示　768px以下
@media screen and (max-width: 768px) {
  .p-hero {
    &__inner {
      padding: 30px 0 40px;
    }

    &__box {
      text-align: center;
      width: 20%;
      height: 450px;
    }

    &__text {
      left: 9%;
      bottom: 140px;
      font-size: 10px;
      font-size: 1rem;
    }

    &__caption {
      margin-top: -175px;
      white-space: nowrap;
      font-size: 16px;
      font-size: 1.6rem;
    }

    &__br {
      display: none;
    }

    &__logo {
      width: 190px;
      height: 89px;
    }

    &__description {
      width: 70%;
      margin: 10px auto 0;
      font-size: 14px;
      font-size: 1.4rem;
    }

    &__scroll {
      width: 100px;
      height: 100px;
      bottom: -30px;
      right: -10px;
      transform: rotate(90deg);
      transform-origin: center center;
    }
  }
}
